*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: GT Walsheim,Arial,Gadget,sans-serif; */
body{
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style: none;
}
h1,h2,h3{
    color: #00343d;
}
a {
    color: #00343d;
    text-decoration: none;
}
p{
    color: #26666b;
}

.container{
    max-width: 99%;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
}
.btn{   
    margin-top: 2rem;
    display: inline-block;
    padding: 13px 35px;
    font-size: 18px;
    color: #00343d;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;    
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.45);
}
.btn:hover{
    color: #ffffff;
    background: #00343d;
}
.btn-green{

}
.btn-light{

}

.bg-light{
    color: #00343d;
    background: #ffffff;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 1.5rem;  
    transition: 0.2s;
}
.bg-light:hover{
    color: #ffffff;
    background: #00343d;
}

.phone{
    margin-left: 1.5rem;
}
/* header */
#header{
    background: #0bd8a2;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
#navbar ul{
    display: flex;
    padding-top: 1rem;
}
#navbar ul a{
    padding: 6px 23px;
    font-size: 16px;
}
#navbar ul a.current{
    font-weight: bold;
}

.header-content{
    display: flex;  
}
.header-content .content{
    float: left;
    padding: 2rem;
    width: 50%;
    position: relative;
    top: 50%;
}
.header-content .content-img{
    float: right;
    padding: 2rem;
    width: 50%;   
}

/* background: #0bd8a2;
color: #00343D; */

/* .header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */
